* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif
}

body {
    background-image: url('../img/cityatnight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box {
    width: 28.125em;
    margin: 0 5px;
    padding: 35px 30px 20px 30px;
    background-color: rgba(0,0,0,0.8);
}

.header h1 {
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.header h1 span {
    margin-right: 10px;
}

.header h1 span .fa-lock{
    font-size: 1.1em;
    color: white;
}

.header p {
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.header p span {
    font-weight: bold;
}

.form [type="email"], [type="password"] {
    display: block;
    width: 100%;
    height: 2.8125em;
    margin: 15px 0px;
    padding: 10px 7px 10px 50px;
    font-size: 1em;
    border-radius: 8px;
    outline: none;
    border: none;    
}

.input {
    position: relative;
}

.fa-envelope, .fa-key  {
    position: absolute;
    top: 0;
    left: 0px;
    color: rgba(0,0,0, 0.7);
    background-color: rgba(220,220,220, 0.5);
    font-size: 1.125em;
    padding: 16px 12px 11px 15px;
    border-bottom-left-radius: 8px ;
    border-top-left-radius: 8px;
}

::placeholder {
    font-weight: lighter;
    color: rgba(75, 74, 74, 0.89);
}

.form [type="password"] {
    margin-bottom: 20px;
}

.form label {
    user-select: none;
    margin-left: 2px;
    color: white;
}

.form [type="checkbox"] {
    cursor: pointer;
}

.login {
    margin-top: -19px 0 40px 0;
    text-align: end;
}

.form [type="submit"] {
    padding: 13px;
    font-size: 1.0625em;
    font-weight: lighter;
    color: white;
    background-color: #1E90FF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.footer p {
    margin: 20px 0;
    font-size: 0.875em;
    color: #fff;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #4194e1;
    margin-left: 3px;  
}

.footer a:hover {
    text-decoration: underline;
}